# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env
**/venv


### VS_CODE ###
.vs_code

### node ###
**/node_modules

### Custom ###
**/screenshots
**/webhook
**/.github
**/.serverless
**/get_screenshot
test_s3.py
quotes.py

## SECURITY ##
github.token
aws.token
